@font-face {
	font-family: yaleNew;
	/*src: url(https://github.com/michaelvanderlinden/untrue-blue-book/blob/master/YaleNew-Roman.otf);*/
	src: url(fonts/YaleNew-Roman.otf);
}

@font-face {
	font-family: yaleNew;
	/*src: url(https://github.com/michaelvanderlinden/untrue-blue-book/blob/master/YaleNew-Bold.otf);*/
	src: url(fonts/YaleNew-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: theSans;
	src: url(fonts/TheSans-Plain.otf);
}

body {
	text-align: left;
	padding: 0;
	margin: 0;
}

.topbar {
	overflow: hidden;
	background-color: #00356b; /* Yale Blue */
	top: 0px; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */

}

.topbar header {
	float: left;
	display: block;
	color: white; /* #f2f2f2; is light gray */
	font-family: yaleNew;
	font-size: 24px;
	text-align: left;
	padding: 18px 85px;
	text-decoration: none;
}

.main {
	max-width: 750px;
    margin-top: 30px;  /*Add a top margin to avoid content overlay */
    padding: 5px 100px;
	margin: 5px;
}

.course-display {
	min-height: 175px;
	padding-left: 5px;
}

.column {
	float: left;
	width: 48%;
	padding: 5px;
}

/* Responsive layout - when the screen is less than n px wide, remove left padding and 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .main {
    	padding: 5px 20px;
    }
    .topbar header {
    	padding: 18px 25px;
    }
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.instr {
	color:gray;
	font-family: yaleNew;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	color: gray;
	font-family: yaleNew;
}

#name {
	color: #00356b; /* Yale Blue */
	font-size: 120%;
	font-family: yaleNew;
	font-weight: bold;
}

#desc {
	font-size: 100%;
	font-family: yaleNew;
}

.btn {
	position: center;
	background-color: #286dc0; /* Yale Light Blue */
	border: none;
	border-radius: 3px;
	color: white;
	padding: 13px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 120%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: yaleNew;
}

.btn:hover {
	background-color: #00356b; /* Yale Blue */
	border: none;
}
