@font-face {
	font-family: yaleNew;
	/*src: url(https://github.com/michaelvanderlinden/untrue-blue-book/blob/master/YaleNew-Roman.otf);*/
	src: url(fonts/YaleNew-Roman.otf);
}

@font-face {
	font-family: yaleNew;
	/*src: url(https://github.com/michaelvanderlinden/untrue-blue-book/blob/master/YaleNew-Bold.otf);*/
	src: url(fonts/YaleNew-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: theSans;
	src: url(fonts/TheSans-Plain.otf);
}

body {
	text-align: left;
	padding: 0;
	margin: 0;
/*	min-height: 400px;
	margin-bottom: 100px;
	clear: both;*/
}

.topbar {
	overflow: hidden;
	background-color: #00356b; /* Yale Blue */
	top: 0px; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */

}

.topbar header {
	float: left;
	display: block;
	color: white; /* #f2f2f2; is light gray */
	font-family: yaleNew;
	font-size: 24px;
	text-align: left;
	padding: 18px 85px;
	text-decoration: none;
}

.main {
	max-width: 750px;
    margin-top: 30px;  /*Add a top margin to avoid content overlay */
    padding: 5px 100px;
	margin: 5px;
}

.course-display {
	min-height: 185px;
	padding-left: 5px;
}

.column {
	float: left;
	width: 48%;
	padding: 5px;
}

/* Responsive layout - when the screen is less than n px wide, remove left padding and 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .main {
    	padding: 5px 20px;
    }
    .topbar header {
    	padding: 18px 25px;
    }
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.instr {
	color:gray;
	font-family: yaleNew;
}

.footer {
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 90%;
	text-align: center;
	padding-top: 190px;
	padding-right: 5%;
	padding-left: 5%;
	color: gray;
	font-family: yaleNew;
}

#name {
	color: #00356b; /* Yale Blue */
	font-size: 120%;
	font-family: yaleNew;
	font-weight: bold;
}

#desc {
	font-size: 100%;
	font-family: yaleNew;
}

.btn {
	position: center;
	background-color: #286dc0; /* Yale Light Blue */
	border: none;
	border-radius: 3px;
	color: white;
	padding: 13px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 120%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: yaleNew;
}

.btn:hover {
	background-color: #00356b; /* Yale Blue */
	border: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*position: fixed;*/
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: theSans;
    color: #222222; /* Dark gray */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show_modal {
	color: gray;
	font-family: yaleNew;
	font-size: 100%;
	text-decoration: underline;
	cursor: pointer;

}